@import "vars";
@import "fonts";
@import "libs";

body,
html {
  margin-right: 0 !important;
  padding-right: 0 !important;
  overflow-x: hidden !important;
}


.load__none {
  display: none;
  color: #fff;
}

.load__animation {
  border: 5px solid rgba(222, 60, 60, .3);
  border-top-color: rgba(222, 60, 60, 1);
  // border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: turn 1.5s linear infinite;
  -o-animation: turn 1.5s linear infinite;
  animation: turn 1.5s linear infinite;
}

.load {
  position: fixed;
  background: #e0e0e0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.load__container {
  position: relative;
}

@keyframes turn {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

.load__title {
  color: #fff;
  font-size: 2rem;
}


@keyframes loadPage {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  background-color: #de3c3c;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 0;

    ul {
      padding: 0;
      margin: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        padding: 0;
        margin: 0 0 0 20px;
        width: auto;
        height: 100%;
        transition: all .3s ease-in-out;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid #fff;
          transition: all .3s ease-in-out;
        }

        &:first-child {
          margin: 0 0 0 0;
        }

        a {
          display: inline-block;
          outline: none;
          color: #fff;
          font-size: 18px;
          text-decoration: none;
          letter-spacing: 0.04em;
          transition: all .3s ease-in-out;
          height: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;

          &:hover {
            color: #fff;
            text-decoration: none;
            transition: all .3s ease-in-out;
          }
        }
      }
    }

    #nav:checked {
      +.nav-open {
        transform: rotate(45deg);

        span {
          background: #fff;
          transition: transform 0.2s ease;
          cursor: pointer;

          &:nth-child(1) {
            transform: translateY(6px) rotate(180deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-10px) rotate(90deg);
          }
        }
      }

      ~.nav-container {
        z-index: 800;
        opacity: 1;

        ul li a {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &__logo {
      width: 100%;
      max-width: 200px;
      height: auto;
      position: relative;
      display: block;
      z-index: 600;

      img {
        width: 100%;
        height: auto;
      }
    }

    &__container {
      width: 100%;
      height: auto;
      display: flex;
      align-content: center;
      height: 100%;
      min-height: 95px;
      justify-content: space-around;


      &__social {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;

        a {
          margin: 0 100px 0 0;
          padding: 0;
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;

          &:last-child {
            margin: 0 0 0 0;
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.home-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: auto;
  min-height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__title {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 650px;

      h1 {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0 0 40px 0;
        font-size: 48px;
      }

      p {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin: 0 0 40px 0;
        opacity: .8;
        line-height: 27px;
        font-size: 18px;
      }
    }

    &__button {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 215px;
      min-height: 66px;
      background-color: #de3c3c;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50px;

      a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.our-services {
  width: 100%;
  height: auto;
  position: relative;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__image {
      width: 100%;
      height: auto;

      &__swiper {
        &__wrapper {
          &__slide {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            width: 100%;
            height: auto;
            min-height: 520px;
          }
        }
      }

      &__next {
        position: absolute;
        top: 95%;
        width: 27px;
        height: 44px;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        right: 9%;
        background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;
        outline: none;

        img {
          width: 50px;
          height: 35px;
        }
      }

      &__prev {
        position: absolute;
        top: 95%;
        left: 5%;
        width: 27px;
        height: 44px;
        margin-top: -22px;
        z-index: 10;
        outline: none;
        cursor: pointer;
        background-size: 27px 44px;
        background-position: center;
        background-repeat: no-repeat;

        img {
          width: 50px;
          height: 35px;

        }
      }
    }

    &__text {
      width: 100%;
      height: auto;
      padding: 100px 70px;

      &__title {
        width: 100%;
        position: relative;
        margin-bottom: 35px;

        h2 {
          color: #646464;
          font-size: 36px;
          margin: 0 0 30px 0;
          font-family: serif;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
        }

        p {
          color: #646464;
          font-size: 18px;
          margin: 0;
          font-family: serif;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
        }
      }

      &__button {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 215px;
        min-height: 66px;
        background-color: #de3c3c;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50px;

        a {
          color: #fff;
          text-decoration: none;
          width: 100%;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 18px;
        }
      }
    }

    &__img-text {
      background-color: #de3c3c;
      width: 100%;
      height: auto;
      min-height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 65px;

      p {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.to-top {
  position: relative;
  top: -60px;
}

.our-company {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -60px;


  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__text {
      padding: 90px 0 0 0px;
      width: 100%;
      height: auto;
      position: relative;

      h2 {
        color: #646464;
        font-size: 36px;
        margin: 0 0 30px 0;
        font-family: serif;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }

      p {
        color: #646464;
        font-size: 18px;
        margin: 0 100px 35px 0;
        font-family: serif;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
      }

      &__button {
        width: auto;
        height: auto;

        a {
          color: #de3c3c;
          text-decoration: none;
          width: 100%;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 18px;
          border-bottom: 2px solid #de3c3c;
        }

        i {
          color: #de3c3c;
          font-size: 14px;
        }
      }
    }

    &__image {
      width: 50vw;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__before-image {
      width: 100%;
      height: auto;
      position: absolute;
      display: block;
      min-height: 280px;
      bottom: -16%;
      left: -12%;
      max-width: 550px;

      img {
        z-index: 100;
        width: 100%;
        height: auto;
        min-height: 280px;
        object-fit: cover;
      }
    }
  }
}

.our-work {
  width: 100%;
  height: auto;
  max-height: 420px;
  margin: 313px 0 0 0;
  position: relative;
  display: block;
  background-color: #de3c3c;

  &__main {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    top: -158px;

    &__title {
      width: 100%;
      height: auto;
      position: relative;
      text-align: center;
      margin-bottom: 40px;

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: #646464;
        font-size: 36px;
        margin: 0;
      }
    }

    &__swiper {
      &__wrapper {
        &__slide {
          img {
            object-fit: cover;
          }
        }
      }
    }

    &__next {
      position: absolute;
      bottom: 12%;
      width: 50px;
      height: 35px;
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      right: 1%;
      background-size: 27px 44px;
      background-position: center;
      background-repeat: no-repeat;
      outline: none;

      img {
        width: 50px;
        height: 35px;
      }
    }

    &__prev {
      position: absolute;
      bottom: 12%;
      width: 50px;
      height: 35px;
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      left: 0;
      background-size: 27px 44px;
      background-position: center;
      background-repeat: no-repeat;
      outline: none;

      img {
        width: 50px;
        height: 35px;
      }
    }

    &__button {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 215px;
      min-height: 66px;
      background-color: #de3c3c;
      border: 2px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50px;
      margin: 40px auto 0;

      a {
        font-size: 18px;
        color: #fff;
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        text-decoration: none;
      }
    }
  }
}


.feedback {
  width: 100%;
  height: auto;
  position: relative;
  display: block;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__title {
      width: 100%;
      height: auto;
      position: relative;

      h2 {
        color: #646464;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
      }
    }

    &__gallery-top {
      height: 80%;
      width: 100%;
      position: relative;
      background-size: cover;
      background-position: center;

      &__swiper {
        &__slide {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          width: 25%;
          height: 100%;
        }
      }
    }

    &__gallery-bottom {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;

      &__swiper {
        &__slide {
          width: 25%;
          height: 100%;
          opacity: 0.4;
        }
      }
    }
  }
}

.location {
  width: 100%;
  height: auto;
  position: relative;
  display: block;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__title {
      width: 100%;
      height: auto;
      position: relative;
      background-color: #de3c3c;
      text-align: center;
      min-height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: #fff;
        font-size: 36px;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
    }
  }
}

.footer {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  background-color: #de3c3c;
  padding: 30px 0;

  &__main {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 200px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &__list {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 200px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        li {
          margin: 0 0 20px 0;
          padding: 0;

          &:last-child {
            margin: 0 0 0 0;
          }

          a {
            color: #fff;
            text-decoration: none;
            margin: 0;
            padding: 0;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
          }
        }
      }
    }

    &__social {
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 320px;

      a {
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-decoration: none;
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__copyright {
      width: 100%;
      height: auto;
      position: relative;
      max-width: 220px;

      p {
        margin: 0;
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-align: right;
      }
    }
  }
}


.feedback {
  width: 100%;
  height: auto;
  position: relative;
  padding: 100px 0;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__title {
      width: 100%;
      text-align: center;
      height: auto;
      margin-bottom: 40px;

      h2 {
        color: #646464;
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0;
      }
    }

    &__blockquote {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 0 0 50px 0;
      z-index: 1;
      transition: all .2s ease-in-out;

      &__wrapper {
        transition: all .2s ease-in-out;

        &__slide {
          transition: all .2s ease-in-out;

          &__content {
            max-width: 800px;
            width: 100%;
            height: auto;
            position: relative;
            margin: 0 auto;
            border: 1px solid #c1c1c1;
            padding: 40px 60px;

            h3 {
              color: #646464;
              font-size: 18px;
              margin: 0 0 20px 0;
              padding: 0;
              font-family: 'Montserrat', sans-serif;
              font-weight: 700;
            }

            p {
              color: #646464;
              font-size: 18px;
              margin: 0;
              padding: 0;
              font-family: 'Montserrat', sans-serif;
              font-weight: 400;
            }
          }
        }
      }
    }

    &__thumbs {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 0;
      z-index: 1;
      transition: all .2s ease-in-out;

      &__wrapper {
        transition: all .2s ease-in-out;
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__slide {
          transition: all .2s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 65px;
            height: 65px;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
          }
        }
      }
    }

    &__prev {
      position: absolute;
      top: 50%;
      width: 50px;
      height: 35px;
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      left: 8%;
      background-size: 27px 44px;
      background-position: center;
      background-repeat: no-repeat;
      outline: none;

      img {
        width: 50px;
        height: 35px;
        object-fit: contain;
      }
    }

    &__next {
      position: absolute;
      top: 50%;
      width: 50px;
      height: 35px;
      margin-top: -22px;
      z-index: 10;
      cursor: pointer;
      right: 8%;
      background-size: 27px 44px;
      background-position: center;
      background-repeat: no-repeat;
      outline: none;

      img {
        width: 50px;
        height: 35px;
        object-fit: contain;
      }
    }
  }
}

.gallery-thumbs .swiper-slide-thumb-active {
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}


.services-banner {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    h1 {
      color: #fff;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 48px;
    }
  }
}

.services-item {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 100px;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__info {
      width: 100%;
      height: auto;
      position: relative;
      padding: 100px 0 0 45px;

      h2 {
        color: #646464;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin: 0 0 20px 0;
      }

      p {
        color: #646464;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin: 0 0 20px 0;

        &:last-child {
          margin: 0 0 0 0;
        }
      }
    }

    &__image {
      width: 100%;
      height: auto;
      position: relative;

      img {
        object-fit: cover;
        width: auto;
        height: auto;
        position: relative;
      }
    }
  }
}

.contact-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: auto;
  position: relative;
  min-height: 310px;
  display: flex;
  align-items: center;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    h1 {
      color: #fff;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 48px;
    }
  }
}

.contact-form {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 95px;

  &__main {
    width: 100%;
    height: auto;
    position: relative;

    &__form {
      width: 100%;
      height: auto;
      position: relative;

      &__title {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 20px;

        h2 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          color: #464646;
          margin-bottom:20px ;
          font-size: 24px;
        }
        p {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          color: #717171;
          margin: 0;
          font-size: 18px;
        }
      }
      &__inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative;

        label {
          color: #717171;
          font-size: 18px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
        }
        input {
          border: 1px solid #b1b1b1;
          outline: none;
          padding:  0 20px;
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          min-height: 45px;
          width: 100%;
          margin-bottom: 30px;
        }

        textarea {
          outline: none;
          width: 100%;
          height: auto;
          min-height: 115px;
          padding: 20px ;
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
        }
      }
      &__submit {
        width: 100%;
        height: auto;
        position: relative;
        max-width: 220px;
        background-color: #de3c3c;
        border-radius: 50px;
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        min-height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto 0;
      }
    }
    &__location {
      width: 100%;
      height: auto;
      position: relative;

      &__title {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        position: relative;

        h2 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          color: #464646;
          margin-bottom:20px ;
          font-size: 24px;
        }
        p {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          color: #717171;
          margin: 0;
          font-size: 18px;
        }
      }
      &__info {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;

        a {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          color: #717171;
          margin-bottom:20px ;
          font-size: 18px;

          img {
            width: 100%;
            max-width: 30px;
            height: auto;
            margin-right: 10px;
          }
        }
      }

      &__social {
        width: 100%;
        height: auto;
        position: relative;
        a {
          display: flex;
          align-items: center;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          color: #717171;
          margin-bottom:20px ;
          font-size: 18px;

          img {
            width: 100%;
            max-width: 35px;
            height: auto;
            position: relative;
            margin-left: 10px;
          }
        }
      }

      &__map {
        width: 100%;
        height: auto;
        margin-top: 100px;
      }
    }
  }
}

@import "media";